.container{
    display: flex;
    align-items: center;
    margin-left: 30px;

    .text {
        margin-bottom: 5px;
    }

    .select  {
        padding: 0 10px;
        color: rgb(238, 205, 32, 1);
    }
}

